.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.showDisplay_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vw / (16 / 9));
  position: relative;
}

.showDisplay_container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 215px;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    #141414 68%,
    #141414 100%
  );
}

.displayImageOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.displayImageOuter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    77deg,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0) 85%
  );
  z-index: 1;
}

.showDisplay_details {
  position: absolute;
  z-index: 3;
  width: 36%;
  left: 4%;
  bottom: 35%;
}

.showDisplay_details > p {
  color: var(--white-color);
  font-size: 1.2vw;
}

.showDisplay_buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.showWrapsContainer {
  position: relative;
  top: -195px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 100vw;
}

.showWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.showWrap > h1 {
  color: var(--white-color);
  font-size: 1.4vw;
  font-weight: 600;
  margin: 0;
}

.showList {
  display: flex;
  flex-direction: row;
  gap: 0.4vw;
  justify-content: center;
  align-items: center;
}

.floatBottomRight {
  position: absolute;
  right: 0;
  bottom: 250px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.muteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(51, 51, 51, 0.6);
  border: 1px solid var(--white-secondary-color);
  z-index: 3;
  cursor: pointer;
}

.showDisplay_ageRatingBadge {
  padding: 0.35rem 2.5rem 0.35rem 0.7rem;
  height: fit-content;
  color: var(--white-color);
  border-left: 3px solid var(--white-secondary-color);
  z-index: 3;
  background: rgba(51, 51, 51, 0.6);
}

.trailorVideo {
  width: 100%;
  height: calc(100vw / (16 / 9));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.videoLoaded {
  z-index: 0;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
