.slider {
  width: 100vw;
  height: fit-content;
  position: static;
}

.slideElements {
  width: fit-content;
  position: relative;
  top: 0;
  left: 4.5vw;

  transition-duration: 0.3s;
}

.slider:hover>.slider-slideLeft>*,
.slider:hover>.slider-slideRight>* {
  opacity: 1;
}

.slider-slideLeft:hover,
.slider-slideRight:hover {
  background-color: rgba(var(--main-background-color-rgb), 0.9);
}

.slider-slideLeft:hover>*,
.slider-slideRight:hover>* {
  transform: scale(1.3);
}

.slider-slideLeft,
.slider-slideRight {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 4.5vw;
  height: 101%;
  background-color: rgba(var(--main-background-color-rgb), 0.7);
  transition-duration: 0.3s;
  z-index: 5;
}

.slider-slideLeft>*,
.slider-slideRight>* {
  transition-duration: 0.3s;
  opacity: 0;
}

.slider-slideLeft {
  left: 0;
}

.slider-slideRight {
  transform: translate(-100%, -50%);
  left: 100%;
}